$primary-color: #3f51b5;

.formContainer {
  position: relative;
  visibility: hidden;

  /* could be some reusable scss const */
  width: 75%;
  max-width: 850px;
  /* paddings from constants */
  padding: 27px 27px;
  /* colors should be from constants */
  border: 1px solid #e2e0e0;
  border-radius: 9px;

  margin: 36px 0;
}

.scrollContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.visible {
  visibility: visible;
}

.stepHeader {
  position: absolute;
  display: flex;
  align-items: center;

  top: -15px;
  left: -15px;
  font-size: 0.8rem;
}

.stepNumber {
  height: 30px;
  width: 30px;
  background: $primary-color;
  color: white;
  border-radius: 100%;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.stepTitle {
  margin-left: 18px;
  padding: 4px 8px;
  background: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  color: $primary-color;
}

.buttonContainer {
  margin-top: 27px;
}
